.background {
    background-color: #ffffff;
    box-shadow: 0px 4px 40px 0px #A2A2A240;
}
.page-details{
    font-size: small;
    text-align: initial;
}
.sign-box{
    width: 90%;
    height: 77px;
    background: rgb(235, 235, 235);
    /* border: 1px solid; */
    border-radius: 7px;
}
.addButton{ 
width: 180px;
font-size: 14px;
background-color: #8A40E9;
}
.checkbox-one{
    height: 16px !important;
    width: 19px !important;
    cursor: pointer;
}
input[type='checkbox'] {
    accent-color: #4535C1;
}

.agree-btn{
    width: 200px;
    height: 35px;
    background-color: #8A40E9;
    border-radius: 5px;
}
.feed_containers{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    grid-template-areas:
        "ads ads ads"
        "left-aside main-section right-aside";
    grid-template-rows: 17px 1fr;
    grid-template-columns: 250px 1fr 312px;
}
div.feed_containers section#ads {
    grid-area: ads;
    display: flex;
    align-items: flex-end;
}
.feed_containers aside#left-aside>div {
    background: #fff;
    border-radius: 10px;
}
.modal-dialog{
    height:auto !important
}
.aggrementinput{
    border-bottom: 0.5px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: var(--content1);
}