.background {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px #A2A2A240;
}

.background2 img {
    position: relative;
    top: 10px;
}

.background1 {
    background: white;
    cursor: pointer;
}

.background2,
.background4 {
    cursor: pointer;
    background-color: #ffffff;
}

.background3 {
    cursor: pointer;
    background: #4535C1;
}

.background input {
    height: 50px;
    width: 70%;
    background-color: #e7e7e7;
    border: none !important;
}

.inputback {
    background-color: #e7e7e7;
    border-radius: 25px;
}

.chattime {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #b8b8b8;
}

.chat {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.chats {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.chatname {
    font-size: var(--content1);
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
}

.chatactive {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #A5A5A5;
}

.column-gap-2 {
    column-gap: 10px;
}

.column-gap-3 {
    column-gap: 20px;
}

.column-gap-4 {
    column-gap: 40px;
}

.column-gap-5 {
    column-gap: 50px;
}

.gap {
    row-gap: 8px;
}

.gap1 {
    row-gap: 5px;
}

/* .mt-3 span:nth-child(1) {
font-size: var(--subtitle);font-weight: 500;line-height: 12px;letter-spacing: 0.03em;text-align: left;
}
.mt-3 span:nth-child(2),
.mt-3 span:nth-child(3) {
font-size: 10px;font-weight: 500;line-height: 12px;letter-spacing: 0.03em;text-align: left;
} */
.msgname {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #B7B7B7;
}

.msgname1 {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.msgname span {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #4535C1;
}

.msgtext {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #3D3D3D;
}

.msgtext1 {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #808080;
}

.msgtext span {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #C3C3C3;
}

.follow {
    width: 51px;
    height: 20px;
    border-radius: 2px;
    float: right;
    background: #4535C1;
    color: #ffffff;
    border: none;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.chatinput {
    border: none !important;
}

.chatinput:focus {
    border: none !important;
}

.name2 {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
    width: max-content;
}

.name1 {
    font-size:  10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
}

.name1grey {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000;
}

.time {
    font-size: 6px;
    font-weight: 500;
    line-height: 7px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
}

.timegrey {
    font-size: 6px;
    font-weight: 500;
    line-height: 7px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
}

.msgboxme {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #FFFFFF;
    float: right;
    border-radius: 15px 0px 15px 15px;
}

.move-right {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.chat-container {
    max-width: 100%;
    overflow: hidden;
    min-height: 67vh;
    overflow-y: hidden;
}

.chat-messages {
    max-height: auto;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user-message .fontsubtitle a{
    color: white;
}
.user-message {
    text-align: end;
    background-color: #4535C1;
    color: white;
    align-self: flex-end;
    border-radius: 8px 8px 0px 8px;
    font-size: var(--content2);
    line-height: 20px;
    font-weight: 500;
    max-width: 70%;
    min-width: 16%;
    line-break: anywhere;
}

.bot-message {
    background-color: #EEEEF8;
    color: #000000;
    align-self: flex-start;
    border-radius: 0px 8px 8px 8px;
    font-size: var(--content2);
    line-height: 20px;
    font-weight: 500;
    max-width: 70%;
    min-width: 16%;
    line-break: anywhere;
}

.usermessagetime {
    font-size: var(--verysmall);
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.botmessagetime {
    font-size: var(--verysmall);
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: right;
}

.sendbutton {
    height: 40px;
    width: 40px;
    border: none;
    background-color: #4535C1;
    border-radius: 50%;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.chat-list {
    overflow: scroll;
    height: 80vh;
    width: 100%;
}

.chat-list::-webkit-scrollbar {
    display: none;
}

.user-list-con {
    /* height: auto; */
    max-height: 80vh;
}

@media only screen and (max-width: 500px) {
    .chat-list {
        overflow: scroll;
        height: 80vh;
    }

    .user-list-con {
        /* height: auto; */
        max-height: 80vh;
    }
}

.slide-in {
    transform: translateX(0%);
    transition: transform 1.3s ease-in;
}

.slide-out {
    transform: translateX(-100%);
    transition: transform 1.3s ease-out;
}

.batch {
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: white;
    background-color: #4535C1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-btn {
    background: #4535C1;
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
}

.range-slider {
    height: 20px;
}

.range {
    width: 250px;
    height: 16px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #4535C1 50%, #D9D9D9 50%);
}

#loading-dot {
    width: 70px;
    height: 75px;
    background-image: radial-gradient(circle, #EBE421 50%, transparent 50%), radial-gradient(circle, #EBE421 50%, transparent 50%), radial-gradient(circle, #EBE421 50%, transparent 50%);
    background-size: 15px 15px;
    background-position: 0% 50%, 50% 50%, 100% 50%;
    background-repeat: no-repeat;
    animation: loading 1s infinite;
}

@keyframes loading {

    0%,
    33.34%,
    66.68%,
    100% {
        background-position: 0% 50%, 50% 50%, 100% 50%;
    }

    16.67% {
        background-position: 0% 20%, 50% 50%, 100% 50%;
    }

    50.01% {
        background-position: 0% 50%, 50% 20%, 100% 50%;
    }

    83.35% {
        background-position: 0% 50%, 50% 50%, 100% 20%;
    }
}

.position-fix {
    position: sticky;
    bottom: 0;
    z-index: 999;
    background-color: white;
}

.droppop {
    top: 95%;
    left: 70%;
    width: fit-content;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

@media screen and (max-width:540px) {

    .w-sm-100 {
        width: 100% !important;
    }

    .droppop {
        top: 95%;
        left: 45%;
        list-style-type: none;
        padding: 0;
        margin: 0;

    }
}