.hoverer:hover{
    background-color: #8ac53f;
    color: white;
}

.hoverer{
        width: "fit-content";
        color: "#8ac53f";
        border: "1px solid #8ac53f";
        background: "#ffffff";
        flex-direction:"row";
        column-gap: 10;
        border-radius: 20,
}