.businessowner{
    opacity: 0;
}
.businesspartner{
    opacity: 0;
}
.partnertext{
    opacity: 0;
}
.pavilionicon{
    opacity: 0;
}
.pavilliontext{
    opacity: 0;
}
.techicon{
    opacity: 0;
}
/* .techtext{
    opacity: 0;
} */