.hoverer:hover {
    background-color: #4535C1;
    color: white;
}

.hoverer {
    width: "fit-content";
    color: "#4535C1";
    border: "1px solid #4535C1";
    background: "#ffffff";
    flex-direction: "row";
    column-gap: 10;
    border-radius: 20,
}

.filterinput {
    width: 100px;
    margin-bottom: 0px;
}

.filterinput .form-control {
    height: auto !important;
    padding: 4px 4px;
    font-size: 14px;
}