.elementor-17 .elementor-element.elementor-element-81c5a1e {
    padding: 0px 15px 0px 15px;
    z-index: 10;
}

.elementor-17 .elementor-element.elementor-element-b861b29 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-e58fac5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-e58fac5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-e58fac5>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF1C;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-17 .elementor-element.elementor-element-e58fac5>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px/2);
}

.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px/2);
}

.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(20px/2);
    margin-left: calc(20px/2);
}

.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px/2);
    margin-left: calc(-20px/2);
}

body.rtl .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-20px/2);
}

body:not(.rtl) .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-20px/2);
}

.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-icon i {
    color: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-4223d71 {
    --e-icon-list-icon-size: 14px;
}

.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-text {
    color: var( --e-global-color-ad41708);
    padding-left: 5px;
}

.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var( --e-global-typography-61eed76-font-size);
    font-weight: var( --e-global-typography-61eed76-font-weight);
    line-height: var( --e-global-typography-61eed76-line-height);
    letter-spacing: var( --e-global-typography-61eed76-letter-spacing);
    word-spacing: var( --e-global-typography-61eed76-word-spacing);
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-ed3a156.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-ed3a156.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-ed3a156.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-17 .elementor-element.elementor-element-c95742d {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 18px;
    --grid-row-gap: 0px;
    width: auto;
    max-width: auto;
}

.elementor-17 .elementor-element.elementor-element-c95742d .elementor-widget-container {
    text-align: right;
}

.elementor-17 .elementor-element.elementor-element-c95742d .elementor-social-icon {
    background-color: #FFFFFF00;
    --icon-padding: 0em;
}

.elementor-17 .elementor-element.elementor-element-c95742d .elementor-social-icon i {
    color: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-c95742d .elementor-social-icon svg {
    fill: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-c95742d .elementor-social-icon:hover {
    background-color: #FFFFFF00;
}

.elementor-17 .elementor-element.elementor-element-c95742d .elementor-social-icon:hover i {
    color: var( --e-global-color-fc28385);
}

.elementor-17 .elementor-element.elementor-element-c95742d .elementor-social-icon:hover svg {
    fill: var( --e-global-color-fc28385);
}

.elementor-17 .elementor-element.elementor-element-1978ea5 .elementor-search-form {
    text-align: right;
}

.elementor-17 .elementor-element.elementor-element-1978ea5 .elementor-search-form__toggle {
    --e-search-form-toggle-size: 32px;
    --e-search-form-toggle-color: var( --e-global-color-21bfb04);
    --e-search-form-toggle-background-color: #A1141400;
    --e-search-form-toggle-icon-size: calc(45em / 100);
}

.elementor-17 .elementor-element.elementor-element-1978ea5.elementor-search-form--skin-full_screen .elementor-search-form__container {
    background-color: #00000082;
}

.elementor-17 .elementor-element.elementor-element-1978ea5 input[type="search"].elementor-search-form__input {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-17 .elementor-element.elementor-element-1978ea5 .elementor-search-form__input,
.elementor-17 .elementor-element.elementor-element-1978ea5 .elementor-search-form__icon,
.elementor-17 .elementor-element.elementor-element-1978ea5 .elementor-lightbox .dialog-lightbox-close-button,
.elementor-17 .elementor-element.elementor-element-1978ea5 .elementor-lightbox .dialog-lightbox-close-button:hover,
.elementor-17 .elementor-element.elementor-element-1978ea5.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
    color: var( --e-global-color-text);
    fill: var( --e-global-color-text);
}

.elementor-17 .elementor-element.elementor-element-1978ea5:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container {
    border-radius: 5px;
}

.elementor-17 .elementor-element.elementor-element-1978ea5.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
    border-radius: 5px;
}

.elementor-17 .elementor-element.elementor-element-1978ea5 .elementor-search-form__toggle:hover {
    --e-search-form-toggle-color: var( --e-global-color-fc28385);
}

.elementor-17 .elementor-element.elementor-element-1978ea5>.elementor-widget-container {
    margin: 0px -10px 0px 0px;
    padding: 0px 0px 0px 5px;
}

.elementor-17 .elementor-element.elementor-element-1978ea5 {
    width: auto;
    max-width: auto;
}

.elementor-17 .elementor-element.elementor-element-9f4975d:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-9f4975d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-9f4975d>.elementor-background-overlay {
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-9f4975d,
.elementor-17 .elementor-element.elementor-element-9f4975d>.elementor-background-overlay {
    border-radius: 5px 5px 5px 5px;
}

.elementor-17 .elementor-element.elementor-element-9f4975d {
    box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 20px 20px 20px;
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-3cc8107.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-3cc8107.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-3cc8107>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF2B;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-3cc8107>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-17 .elementor-element.elementor-element-1c35c4f {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-d23d5fa.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-d23d5fa.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-d23d5fa>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-menu-toggle {
    margin-left: auto;
    background-color: var( --e-global-color-primary);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    line-height: var( --e-global-typography-accent-line-height);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-text);
    fill: var( --e-global-color-text);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main .elementor-item:hover,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-primary);
}

.elementor-17 .elementor-element.elementor-element-8550469 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 32px / 2);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 32px;
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-menu-toggle {
    color: var( --e-global-color-text);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a:hover,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a.highlighted,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-menu-toggle:hover {
    color: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a:hover,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-fc28385);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-21bfb04);
    background-color: var( --e-global-color-fc28385);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown .elementor-item,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown {
    border-radius: 5px 5px 5px 5px;
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #87878726;
    border-bottom-width: 1px;
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 15px !important;
}

.elementor-17 .elementor-element.elementor-element-8550469 div.elementor-menu-toggle {
    color: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-8550469 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-8550469 div.elementor-menu-toggle:hover {
    color: var( --e-global-color-21bfb04);
}

.elementor-17 .elementor-element.elementor-element-8550469 .elementor-menu-toggle:hover {
    background-color: var( --e-global-color-fc28385);
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-60628c8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-60628c8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-c56829e .elementor-button {
    padding: 13px 22px 13px 22px;
}

@media(min-width:768px) {
    .elementor-17 .elementor-element.elementor-element-e58fac5 {
        width: 70%;
    }
    .elementor-17 .elementor-element.elementor-element-ed3a156 {
        width: 30%;
    }
    .elementor-17 .elementor-element.elementor-element-3cc8107 {
        width: 12.5%;
    }
    .elementor-17 .elementor-element.elementor-element-d23d5fa {
        width: 72.832%;
    }
    .elementor-17 .elementor-element.elementor-element-60628c8 {
        width: 14%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-17 .elementor-element.elementor-element-e58fac5 {
        width: 100%;
    }
    .elementor-17 .elementor-element.elementor-element-ed3a156 {
        width: 100%;
    }
    .elementor-17 .elementor-element.elementor-element-3cc8107 {
        width: 25%;
    }
    .elementor-17 .elementor-element.elementor-element-d23d5fa {
        width: 53%;
    }
    .elementor-17 .elementor-element.elementor-element-60628c8 {
        width: 22%;
    }
}

@media(max-width:1024px) {
    .elementor-17 .elementor-element.elementor-element-e58fac5>.elementor-element-populated {
        border-width: 0px 0px 1px 0px;
        padding: 5px 0px 10px 0px;
    }
    .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-61eed76-font-size);
        line-height: var( --e-global-typography-61eed76-line-height);
        letter-spacing: var( --e-global-typography-61eed76-letter-spacing);
        word-spacing: var( --e-global-typography-61eed76-word-spacing);
    }
    .elementor-17 .elementor-element.elementor-element-ed3a156.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-17 .elementor-element.elementor-element-ed3a156>.elementor-element-populated {
        padding: 5px 0px 0px 0px;
    }
    .elementor-17 .elementor-element.elementor-element-1978ea5 input[type="search"].elementor-search-form__input {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-menu-toggle {
        border-radius: 5px;
    }
}

@media(max-width:767px) {
    .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(15px/2);
    }
    .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(15px/2);
    }
    .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(15px/2);
        margin-left: calc(15px/2);
    }
    .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-15px/2);
        margin-left: calc(-15px/2);
    }
    body.rtl .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-15px/2);
    }
    body:not(.rtl) .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-15px/2);
    }
    .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-17 .elementor-element.elementor-element-4223d71 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-61eed76-font-size);
        line-height: var( --e-global-typography-61eed76-line-height);
        letter-spacing: var( --e-global-typography-61eed76-letter-spacing);
        word-spacing: var( --e-global-typography-61eed76-word-spacing);
    }
    .elementor-17 .elementor-element.elementor-element-c95742d .elementor-widget-container {
        text-align: left;
    }
    .elementor-17 .elementor-element.elementor-element-1978ea5 input[type="search"].elementor-search-form__input {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-17 .elementor-element.elementor-element-3cc8107 {
        width: 88%;
    }
    .elementor-17 .elementor-element.elementor-element-3cc8107>.elementor-element-populated {
        border-width: 0px 0px 1px 0px;
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-17 .elementor-element.elementor-element-1c35c4f {
        text-align: left;
    }
    .elementor-17 .elementor-element.elementor-element-1c35c4f img {
        width: 80%;
    }
    .elementor-17 .elementor-element.elementor-element-d23d5fa {
        width: 12%;
    }
    .elementor-17 .elementor-element.elementor-element-d23d5fa>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--dropdown a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
    .elementor-17 .elementor-element.elementor-element-8550469 .elementor-menu-toggle {
        border-radius: 5px;
    }
    .elementor-17 .elementor-element.elementor-element-60628c8 {
        width: 100%;
    }
    .elementor-17 .elementor-element.elementor-element-60628c8>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}