.line-tag{
    position: absolute;
    border-bottom: 4px solid #2D2B70;
    width: 230px;
    transform: rotate(0deg);
    margin-top: 20px;
    left: -195px;
    z-index: 0;
}

.step-item:first-child .line-tag{
    width: 0px;
    transform: rotate(90deg);
}
.step-item:nth-child(2) .line-tag{
    left: -15px
}
/* .step-item:last-child .line-tag{
    position: absolute;
    border-bottom: 1px solid #2D2B70;
    width: 0px;
    transform: rotate(90deg);
    margin-top: 20px;
    left: -95px;
    z-index: -1;
} */

.step-item {
    position: relative;
}

.step-number {
    background-color: grey;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    top: 12px;
    left:20px;
    z-index: 1;
}
.step-number.active {
    background-color: #8A40E9;
}
.rbc-today {      
    background-color:white;
}
.rbc-now button{
    color: white;
    background: #8A40E9;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5%;
}

.rbc-off-range-bg {
    background: #e6e6e6 !important;
}
/* 
.rbc-date-cell.rbc-now button{
    
    background: #8A40E9;
    color: white;
    border-radius: 30px;
}
.rbc-month-view {

    border: none !important;
    
}
.rbc-day-bg + .rbc-day-bg {
    border-left: none !important;
}

.rbc-month-row + .rbc-month-row {
    border-top:none !important;
}
.rbc-date-cell {
    
    text-align: center;
}
.rbc-month-row {
    justify-content: center;
}
.rbc-off-range-bg {
    background: #ffffff !important;
}
.rbc-today {
    background-color: #ffffff !important;
}
.rbc-button-link {
    width: 40px;
    height: 40px;
} */

/* .rbc-btn-group ~ button{
    border: none !important;
}
.eventhover:hover{
    background-color: #2D2B70;
}
.eventhover{
     height: 70px
}
.eventhovertext{
    font-size:14px;
    font-weight:600;
    color:#fff;
}
.eventhovertext1{
    font-size:10px;
    font-weight:400;
    color:#ffff;
}
.colback{
        background:#A77AE1;
        transition: 0.2s ease-in-out;
}
.colback:hover{
    background: #783DC3;
}
.dateback{
    color:black;
    font-size: 13px;
    font-weight: 500;
}
.event-list::-webkit-scrollbar {
    display: none;
  }
  .fontsize{
    font-size: 12px;
  } */