.line-tag-ver1 {
  position: relative;
  border-left: 2px solid #4535C1;
  height: 60px;
  transform: rotate(0deg);
  margin-top: 20px;
  left: 9px;
  z-index: 0;
}

.badge-counter {
  width: 20px;
  height: 20px;
  border-radius: 90px;
  background-color: #4535C1;
  color: white;
  text-align: center;
  align-content: center;
}

.step-item1:first-child .line-tag-ver1 {
  width: 0px;
  transform: rotate(0deg);
}

.step-item1:nth-child(2) .line-tag-ver1 {
  /* left: -15px */
}

.step-item1:last-child .line-tag-ver1 {
  height: 0;
}